.search {
    background-color: #345DA7;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0e1129;
}

.location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.location svg {
    fill: #3B8AC4;
    font-size: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.location span {
    color: #3B8AC4 ;
    font-weight: bold;
}

.stats {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.stats div {
    display: flex;
    flex-direction: column;
    padding: 0.5 rem;
}

.stats div:first-child {
    border-right: 1px solid #3B8AC4;
}
.stats div:last-child {
    border-left: 1px solid #3B8AC4;
}

.stats .txt {
    background-color: #3B8AC4;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}
.stats .number {
    background-color: #3B8AC4;
    padding: 0.2rem 0.2rem;
    border-radius: 90px;
}

.search a {
    text-align: center;
    background-color: #3B8AC4;
    padding: 1rem;
    border-radius: 50px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.search a:hover {
    opacity: 1;
}
